<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.activate643View"
     data-before-show="app.activate643View.init"
     id="activate643View"
     class="screen">
    
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">Confirming Activation</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">
        
        <div class="center-subhead push-down">
            Please hang tight while we confirm that the monitor has been set up successfully.
        </div>
        <div class="center-subhead push-down">
            This may take up to <b>30 seconds</b>.
        </div>
        <div class="center-subhead push-down">
            Please do not move or touch the monitor at this time.
        </div>

        <div class="flat-loader">Loading...</div>

    </div>

</div>

