.flat-loader,
.flat-loader:before,
.flat-loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: flat-load 1.8s infinite ease-in-out;
    animation: flat-load 1.8s infinite ease-in-out;
}

.flat-loader {
    color: #107CDC;
    font-size: 15px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .flat-loader:before,
    .flat-loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .flat-loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .flat-loader:after {
        left: 3.5em;
    }

@-webkit-keyframes flat-load {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes flat-load {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
