<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.configureRFLPView"
     data-before-show="app.authorized"
     id="configureRFLPView"
     class="screen">

    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">RFLP Setup</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">

        

        <div class="center-subhead">
            Find the serial number.
        </div>
        <div class="center-subhead small-subhead"><i>Located on the front of the monitor.</i></div>
        <img alt="RFLP" src="shared/images/monitors/RFLP.png" class="serial-image" />
        <div class="row push-down">
            <div class="col-xs-12">

                <button data-role="button" data-bind="click: scan" class="large-button" data-icon="camera">Scan the barcode</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 center-seperator">
                OR
            </div>
        </div>
        <div class="row push-down">
            <div class="col-xs-12">
                <button data-role="button" data-bind="click: manual" data-icon="manual">Enter Serial manually</button>
            </div>
        </div>
    </div>

</div>