<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-after-show="app.selectHotspotView.reloadHotspots"
     data-model="app.selectHotspotView"
     id="selectHotspotView"
     class="screen">

    <header data-role="header">

        <div data-role="navbar" class="header-text">
            <div class="dual-action">WiFi Setup</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>

    </header>

    <div class="feature">

        <div class="loader" data-bind="visible: loading">
            Scanning for GREMLIN®...
            <div class="load-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <div data-bind="invisible: loading">
            <div data-bind="visible: scanner">
                <div>Please select the WiFi network the monitor will use.</div>
                <div class="push-down small-subhead">Do NOT select a <b>5G or public</b> network as the monitor can not broadcast on these networks.</div>
                <div class="push-down" id="select-network-container">
                    <select id="select-network" data-bind="value: ssid" data-role="select"></select>
                </div>
            </div>

            <div data-bind="invisible: scanner">
                <div>Please Enter the WiFi SSID the monitor will use.</div>
                <div class="push-down small-subhead">Do NOT enter a <b>5G or public</b> network as the monitor can not broadcast on these networks.</div>
                <div class="row form-row push-down">
                    <div class="col-xs-12">
                        <input data-bind="value: ssid" type="text" placeholder="WiFi Name (SSID)" class="k-input"/>
                    </div>
                </div>
            </div>
            <div class="row form-row push-down">
                <div class="col-xs-12">
                    <input data-bind="value: password" type="password" placeholder="WiFi Password" class="k-input" />
                </div>
            </div>       
            <div class="row push-down">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: select">Continue</button>
                </div>
            </div>
            <div class="show-reference link-reference">
                <div class="show-reference-text">
                    <div class="show-reference-text__content">
                        <div class="transform-inner link-transform smaller-subhead" data-bind="visible: scanner, click: toggleScanner"> 
                            WiFi Not Found?  
                        </div>
                        <div class="transform-inner link-transform smaller-subhead" data-bind="invisible: scanner, click: toggleScanner"> 
                            Show Nearby WiFi?  
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>