
<div data-role="view" data-title="View" data-layout="main" data-model="app.referenceView" id="referenceView" class="screen">
    <header data-role="header">
       
        <div data-role="navbar" class="header-text">
            <div class="single-action">Error Reference</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>

    </header>

    <div class="feature">
        <div>
            Take note of the amount of <span class="text-danger">red</span> flashes that occur after a failed installation.
        </div>
        <div class="push-down">
            The table below will help figure out the root cause based on this amount.
        </div>
        <table class="push-down table">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Can not find WiFi hotspot</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Can not connect to WiFi hotspot</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Incorrect password for WiFi hotspot</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>PayGo servers can not be reached</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>PayGo servers are not responding</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>PayGo servers are under maintenance</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Could not update monitor</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>The monitor battery is critically low</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>The monitor is having a hardware failure</td>
                </tr>
            </tbody>
        </table>
    </div>
   

</div>