<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-model="app.prime643View"
     id="prime643View"
     class="screen">

    <header data-role="header">

        <div data-role="navbar" class="header-text">
            <div class="dual-action">Activate</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>

    </header>

    <div class="feature">
        <div class="center-subhead">
            Hold the magnet to the <b>yellow</b> spot on the monitor and listen for a series of <b>short beeps</b> followed by a <b>long beep</b> then remove the magnet.  
        </div>
        <div class="center-subhead push-down">
            
        </div>
        <div class="center-subhead">
            Next you should hear a </br><b>high|low|high</b></br> beep sequence which confirms the activation.
         </div>
           <div class="center-subhead small-subhead push-down ">
             <i>This may take up to a min.</i>
             </div>
        <div class="center-subhead">
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: continue, disabled: counting">
                        <span data-bind="invisible: counting">Continue</span>
                        <span data-bind="visible: counting">Waiting <span data-bind="text: countdown"></span></span>
                    </button>
                </div>
            </div>
        </div>

    </div>


</div>