#dialog {
    font-size: 1.2em;
}
#logo {
    max-width: 200px;
    position: absolute;
    left: 25px;
    top: 0;
    max-height: 70px;
}

.k-input {
    height: 40px;
    padding-left: 10px;
}

.helper-button {
    height: 47px;
    width: 100%;
    padding: 14px !important;
} 
.k-input[type=password] {
    font-size: 110%;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
}

.form-error {
    padding: 10px 0;
    color: #5378b2;
}

    .error {
        color: firebrick;
        text-align: center;
        margin-bottom: 10px;
    }

    .text-danger {
        color: firebrick;
    }

   .center-text {
       text-align: center;
   }

.single-action {
    margin-left: -48px;
}

.km-content {
    display: flex;
    flex-direction: column;
}

.km-scroll-container {
    height: 100%;
    min-height: 460px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.k-input,
button {
    width: 100%;
}

.mobile-container {
    margin: -20px 30px 0 20px;
    width: 280px;
}

.form-row {
    padding-right: 10px;
}

.center-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.center-subhead
{
     text-align: center;
}

.small-subhead
{
     font-size: .8em;
}

.smaller-subhead
{
     font-size: .7em;
}

.switch-label {
    font-weight: 500;
    font-size: 110%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.feature {
    margin: 20px 25px 20px 20px;
    font-size: 1.1em;
}

.header {
    font-size: 1.9em;
    padding: 20px 0 0 0;
    text-align: center;
    font-weight: 700;
}

.push-down {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-spacing: 0px;
}

.table th {
    text-align: left;
}
.table thead tr:first-child th {
        padding-bottom: 5px;
    }
.table thead tr th:not(:first-child) {
    padding-left: 20px;
}
.table tbody tr td:not(:first-child) {
        padding-left: 20px;
        padding-bottom: 5px;
    }

tbody tr:nth-child(odd){
  background-color: beige;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 0;
}
.km-nova .km-button, .km-nova .km-buttongroup .km-button {
    border-radius: 0;
}
a.ui-selectmenu {
    height: 95px;
    font-size: 100%;
    font-family: inherit;
    width: 100% !important;
    margin: 0 auto;
    display: block;
}
.manual a.ui-selectmenu {
    height: 38px;
}
 .ui-selectmenu-menu li span, .ui-selectmenu-status span {
    margin-bottom: 0;
    color: #2e2e2e;
    font-size: 16px;
}
.ui-state-hover a {
    background: none;
}

.ui-selectmenu-item-selected,.ui-selectmenu-item-selected {
    background: #f2f2f2;
}


.col-select {
    width: 84.0%;
}

.item-content {
    font-size: 13px;
    width: 250px;
    color: black;
}
.ui-selectmenu-menu li span.item-header {
    margin-bottom: 3px;
}

.km-close:after,
.km-close:before {
    content: "\e031";
}


.km-logout:after,
.km-logout:before {
    content: "\e0b2";
}

.km-login:after,
.km-login:before {
    content: "\e0b3";
}

.km-reference:after,
.km-reference:before {
    content: "\e04c";
}

.km-video:after,
.km-video:before {
    content: "\e075";
}

.km-camera:after,
.km-camera:before {
    content: "\e0d0";
}
.km-manual:after,
.km-manual:before {
    content: "\e30a";
}

.km-nova .km-button.large-button {
}

.center-seperator {
    text-align: center;
    margin-top: 22px;
    font-weight: bold;
}

.table-top
{
    vertical-align: top;
}