<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.manual608View"
     data-before-show="app.authorized"
     id="manual608View"
     class="screen">
    
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">Enter 608 Serial</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">
        
        <div class="center-subhead">
            Enter the serial number.
        </div>
         <div class="center-subhead small-subhead"><i>Located on the front of the monitor.</i></div>

        <img alt="643" src="shared/images/monitors/608.jpg" class="serial-image" />

        <div class="row push-down">
            <div class="col-xs-12">
                <div data-bind="visible: error" class="error center-subhead small-subhead">Please enter the serial number.</div>
                <input data-bind="value: serial" type="text" placeholder="Serial Number" class="k-input"/>
            </div>
        </div>
        
        <div class="row push-down">
            <div class="col-xs-12">
                <button data-role="button" data-bind="click: continue">Continue</button>
            </div>
        </div>

    </div>

</div>

