<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.geometryView.preinit"
     data-after-show="app.geometryView.init"
     data-model="app.geometryView"
     id="geometryView"
     class="screen">

    <header data-role="header">

        <div data-role="navbar" class="header-text">
            <div class="dual-action">Setup a Tank</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>

    </header>

    <div class="feature">

        <div class="text-center">Tank Type</div>

        <div data-bind="visible: isPropane" id="geometry-propane"></div>
        <div data-bind="invisible: isPropane" id="geometry-nonpropane"></div>

        <div class="push-down">

            <div class="row">

                <div class="col-xs-6 no-padding-right" data-bind="invisible: isPropane">
                    <label class="geometry-label">
                        Location
                    </label>
                    <div class="geometry-input">
                        <select data-value-field="type" data-text-field="title" data-bind="value: location, source: locationOptions">

                        </select>
                    </div>
                </div>

                <div class="col-xs-6 no-padding-right" data-bind="invisible: isPropane">
                    <label class="geometry-label">
                        Antenna
                    </label>
                    <div class="geometry-input">
                        <select data-value-field="type" data-text-field="title" data-bind="value: antenna, source: antennaOptions"></select>
                    </div>
                </div>
               
                <div class="col-xs-4 col-xs-offset-4" data-bind="visible: automatic">
                    <div data-bind="invisible: isPropane">
                        <label class="geometry-label">
                            Dual Tank
                        </label>
                        <div class="geometry-input">
                            <input id="remember" data-role="switch" data-bind="value: dual" />
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div data-bind="invisible: automatic">
            <div class="row">


                <div class="col-xs-4" data-bind="visible: shapeRequiresHeight">

                    <label class="geometry-label">
                        Height
                    </label>
                    <div class="geometry-input">
                        <input type="number"
                               data-role="input"
                               placeholder="Height"
                               class="k-input"
                               data-bind="value: height"/>
                    </div>
                </div>

                <div class="col-xs-4" data-bind="visible: shapeRequiresWidth">
                    <label class="geometry-label">
                        Width
                    </label>

                    <div class="geometry-input">
                        <input type="number"
                               data-role="input"
                               placeholder="Width"
                               class="k-input"
                               data-bind="value: width"/>
                    </div>

                </div>

                <div class="col-xs-4">
                    <label class="geometry-label">
                        Length
                    </label>

                    <div class="geometry-input">
                        <input type="number"
                               data-role="input"
                               placeholder="Length"
                               class="k-input"
                               data-bind="value: length"/>
                    </div>

                </div>

                <div class="col-xs-4" data-bind="visible: shapeRequiresDiameter">
                    <label class="geometry-label">
                        Diameter
                    </label>

                    <div class="geometry-input">
                        <input type="number"
                               data-role="input"
                               placeholder="Diameter"
                               class="k-input"
                               data-bind="value: diameter"/>
                    </div>
                </div>
                
                <div class="col-xs-4" data-bind="invisible: isPropane">
                    <label class="geometry-label">
                        Offset
                    </label>
                    <div class="geometry-input">
                        <input type="number"
                               data-role="input"
                               placeholder="Offset"
                               class="k-input"
                               data-bind="value: offset" />
                    </div>
                </div>


            </div>

        </div>

        <div class="push-down">
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: continue">Complete</button>
                </div>
            </div>
        </div>

    </div>

</div>

<script id="geometry-template" type="text/x-kendo-template">
    <div>
        <div class="image" style="background-image: url(#: shape.image #);"></div>
        <p class="title">#: title #</p>
    </div>
</script>