<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.confirmView"
     data-before-show="app.confirmView.init"
     id="confirmView"
     class="screen">
    
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">Confirm Serial</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">
        
        <div class="center-subhead">
            Please confirm the serial number <b>below</b> matches the serial number on the unit 
        </div>

        <div class="row push-down">
            <div class="col-xs-12">
                
                <label data-bind="text: serial" class="serial-label"></label>

            </div>
        </div>

        <div class="row push-down">
            <div class="col-xs-12">
                <button data-role="button" data-bind="click: continue">Confirm</button>
            </div>
        </div>

    </div>

</div>

