<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.selectCustomerView"
     data-before-show="app.authorized"
     id="selectCustomerView"
     class="screen"
     data-after-show="app.selectCustomerView.disableBackButton"
     data-before-hide="app.selectCustomerView.enableBackButton"
     >



    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="single-action">Select a Tank</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="feature">
        <div class="center-subhead" data-bind="invisible: hasTankList">
            Look up the customer.
        </div>
        
        <div class="center-subhead" data-bind="visible: hasTankList">
            Select the customers tank.
        </div>

        <div class="push-down">

            <div class="row">
                <div class="col-xs-9">
                    <input type="text" class="k-input" placeholder="Customer Account ID #" data-bind="value: filter"/>
                </div>
                <div class="col-xs-3">
                    <button data-role="button" data-bind="click: search" data-icon="search" class="helper-button"></button>
                </div>
            </div>

        </div>

        <div class="push-down" data-bind="visible: hasError">

            <div class="row">
                <div class="col-xs-12">

                    <div data-bind="html: error">
                    </div>

                </div>
            </div>

        </div>

        <div class="push-down" data-bind="visible: hasTankList">
            <select id="select-customer" data-bind="value: tank" data-role="select"></select>
        </div>

        <div class="push-down" data-bind="visible: hasTankList">
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: select">Continue</button>
                </div>
            </div>
        </div>


    </div>

</div>

