<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-model="app.prime750View"
     id="prime750View"
     class="screen">
    
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">Confirm Connection</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>
    <div class="feature">

        <div class="center-subhead"> 
            <strong>
                The monitor light will turn green for 15 seconds and then flash either <span style="color: green">green</span> or <span style="color:red">red</span>.
                <br/>
                <br/>
                Be sure to count the number of flashes.
            </strong>
            Confirm that the GREMLIN® displayed five <b>green</b> flashes.
        </div>
        <div class="center-subhead small-subhead push-down ">
            <i>This indicates that the monitor has been properly set up.</i>
        </div>

        <div class="center-subhead">
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: continue">
                        Continue
                    </button>
                </div>
            </div>
        </div>
        
        <div class="center-subhead push-down">
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: connect">
                        Re-Enter WiFi Settings
                    </button>
                </div>
            </div>
        </div>
<!--        -->
<!--        <div class="center-subhead push-down">-->
<!--            If the Gremlin has flashed red refer to the error reference below.-->
<!--        </div>-->
        
        <div class="show-reference" data-bind="click: toggle">
            <div class="show-reference-text">
                
                <div class="show-reference-text__line"></div>
                <div class="show-reference-text__content">
                    <div class="transform-inner link-transform small-subhead">
                        NEED HELP?
                <span class="k-icon down-icon" data-bind="invisible: toggled"></span>
                <span class="k-icon up-icon" data-bind="visible: toggled"></span>
                    </div>

                </div>
            </div>
        </div>

        <div data-bind="visible: toggled">
            <div class="small-subhead">
                <b>How many <span class="text-danger">RED</span> flashes did the monitor report?</b>
            </div>
            <table class="push-down table small-subhead">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cause</th>
                    </tr>
                </thead>
                <tbody class="table-top">
                    <tr>
                        <td>1</td>
                        <td>Network SSID incorrect. Please re-enter network SSID</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Weak WiFi connection. Try connecting again. If issue persists, the monitor location is poorly positioned for the current WiFi network</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>WiFi password incorrect. Please re-enter WiFi password</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Wifi router not connecting to internet. Restart router and retry</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Remote servers not responding. Retry monitor setup. If issue persists, contact GREMLIN® support</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>GREMLIN® servers are under maintenance</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Could not update monitor</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>The monitor battery is critically low</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>The monitor is having a hardware failure</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>