
.down-icon:before {
    content: "\e015"; /* Adds a glyph using the Unicode character number */
}
.up-icon:before {
    content: "\e013"; /* Adds a glyph using the Unicode character number */
}

.show-reference {
    margin-top: 20px;
    cursor: pointer;
}
.show-reference-text {
    position: relative;
    height: 40px;
}

.show-reference-text__line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #D8C9C9;
    left: 0;
    top: 50%;
}

.show-reference-text__content {
    position: absolute;
    top: 25%;
    left: 50%;
}

.transform-inner {
    height: 100%;
    width: 110%;
    transform: translateX(-50%);
    background: white;
    padding-left: 7.5%
}

.link-transform {
    text-decoration: underline;
    color: blue;
    margin-left: 10px;
}

.link-reference {
    margin-top: 10px;
}