<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.selectMonitorView"
     data-before-show="app.authorized"
     data-after-show="app.selectMonitorView.init"
     id="selectMonitorView"
     class="screen">
    
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">Select a Monitor</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">
        
        <div class="center-subhead">
            Swipe to select.
        </div>

        <div id="monitors"></div>

        <div class="row push-down">
            <div class="col-xs-12">
                <button data-role="button" data-bind="click: continue">Continue</button>
            </div>
        </div>

    </div>

</div>

<script id="monitor-template" type="text/x-kendo-template">
    <div>
        <p class="monitor-title">#: title #</p>
        <div class="monitor-image" style="background-image: url(#: image #);"></div>
    </div>
</script>
