.km-nova p.monitor-title {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
.monitor-image {
    display: block;
    height: 250px;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 20px 0;
}