
.center-container {
    position: relative;
}

.login-container-branding {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);*/
    opacity: .2;
/*    background-image: url(../../shared/images/logo.png);*/
    background-size: 95% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.errorDebug {
    max-height: 200px;
    text-align: left;
    overflow: auto;
    white-space: pre;
    background: white;
    margin-bottom: 20px;
}

    .errorDebug::-webkit-scrollbar {
        width: 2em;
        height: 2em
    }

    .errorDebug::-webkit-scrollbar-button {
        background: #ccc
    }

    .errorDebug::-webkit-scrollbar-track-piece {
        background: #888
    }

    .errorDebug::-webkit-scrollbar-thumb {
        background: #eee
    }
    
