<div data-role="view" data-title="View" data-layout="main" data-model="app.authView" id="authViewScreen" class="screen"  data-init="app.authView.loadSavedAUTH" >
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="single-action">Log In</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>

    <div class="header">
        GREMLIN® Dealer
    </div>

    <div class="center-container">   

        <div class="login-container-branding"></div>

        <div class="mobile-container">
            
            <div class="row" data-bind="visible: isNotProd">
                <div class="col-xs-12">
                    <div data-bind="text: error" class="errorDebug"></div>
                </div>
            </div>

            <div class="row" data-bind="invisible: isNotProd">
                <div class="col-xs-12 error">
                    <div data-bind="text: error"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <input id="username" type="text" data-role="input" placeholder="Username" class="k-input" data-bind="value: username" />
                    <div class="form-error" data-bind="text: usernameError" tabindex="1"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <input id="password" type="password" placeholder="Password" class="k-input" data-bind="value: password"  />
                    <div class="form-error" data-bind="text: passwordError" tabindex="2"></div>
                </div>
            </div>

            


            <div class="row">
                <div class="col-xs-12">
                    <button style="z-index: 2147483647" data-role="button" data-bind="click: auth">Log In</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="show-reference link-reference" data-bind="click: toggle">
                        <div class="show-reference-text">
                            <div class="show-reference-text__content">
                                <div class="transform-inner link-transform">
                                    Have Dealer ID?
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" data-bind="visible: toggled">
                    <input id="dealer" type="text" placeholder="Dealer ID" class="k-input" data-bind="value: dealer" tabindex="3"/>
                    <div class="form-error" data-bind="text: dealerError"></div>
                </div>
            </div>
            

            <div class="row push-down">
                <div class="col-xs-3 col-xs-offset-1">
                    <input id="remember" data-role="switch" data-bind="value: remember" />
                </div>
                <div class="col-xs-8">
                    <label class="switch-label">
                        Remember me
                    </label>
                </div>

            </div>

        </div>

    </div>


</div>