<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-model="app.primeMonitorView"
     id="primeMonitorView"
     class="screen">

    <header data-role="header">

        <div data-role="navbar" class="header-text">
            <div class="dual-action">WiFi Configuration</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>

    </header>

    <div class="feature">

        <div class="center-subhead">Press the button or touch the magnet to the notch on the side of the monitor until the light turns from Green to Red.</div>

        <img alt="Monitor" src="shared/images/prime-monitor.png" class="demo-image"/>

        <div>
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: continue">Continue</button>
                </div>
            </div>
        </div>

    </div>


</div>