<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-model="app.primeRFLPView"
     id="primeRFLPView"
     class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">Pair Monitor</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">
        <div class="center-subhead">Connection Process</div>
        <div class="center-subhead small push-down">Make sure the modem is powered on and is connected to the internet before the monitor is connected so an IP can be linked.</div>
        <div class="center-subhead small push-down">Touch and hold the circled dots of the monitor and the modem together. This may take up to a minute.</div>
        <img alt="Prime RFHO" src="shared/images/prime-RFHO.png" class="demo-image" />
        <div class="center-subhead small push-down">Be sure to keep them pressed together for at least a 10 seconds or else you could enter a debug mode, which could interfere with your readings.</div>
        
        <div class="center-subhead small push-down">When the process is completed, the LED light on the modem flash twice.</div>

        <br />
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: continue">Continue</button>
                </div>
            </div>
        </div>
    </div>

</div>