.text-center {
    text-align: center;
    width: 100%;
}
.image {
    display: block;
    height: 150px;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 20px 0;
}
.title {
    font-weight: bold;
    text-align: center;
}
.km-pages {
    height: 1.7em;
}
.geometry-label {
    font-size: 14px;
}
.geometry-input {
    margin-top: 10px;
    margin-bottom: 10px;
}
    .geometry-input select {
        width: 100%;
        height: 50px;
    }

.no-padding-right {
    padding-right: 0;
}

.geometry-input .km-switch {
    margin-top: 5px;
}