<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-after-show="app.prime608View.init"
     data-model="app.prime608View"
     id="prime608View"
     class="screen">

    <header data-role="header">

        <div data-role="navbar" class="header-text">
            <div class="single-action">Installing 608 Firmware</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>

    </header>

    <div class="feature">

        <div class="loader">
            Applying latest update to 608 modem

            <div class="load-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

    </div>


</div>