<div data-role="view"
     data-title="View"
     data-layout="main"
     data-before-show="app.authorized"
     data-model="app.monitorHotspotView"
     id="monitorHotspotView"
     class="screen">

    <header data-role="header">

        <div data-role="navbar" class="header-text">
            <div class="dual-action">Connect to HotSpot</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>

    </header>

    <div class="feature">

        <div>Go to your phone/laptop network settings and connect to the WiFi network starting with <strong>PAYGO.</strong>
            <br/>
            <br/>
        </div>
        
        

        <!--<img alt="Monitor" src="shared/images/monitor-hotspot.png" class="demo-image push-down"/>-->
        
        <div class="push-down">
            <div class="row">
                <div class="col-xs-12">
                                <p>Once you have connected press continue to configure the monitor.</p>
                    <br />
                    <button data-role="button" data-bind="click: continue">Continue</button>
                </div>
            </div>
        </div>

    </div>


</div>