<div data-role="view"
     data-title="View"
     data-layout="main"
     data-model="app.activatedView"
     data-before-show="app.authorized"
     id="activatedView"
     class="screen">

    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="dual-action">
                <span data-bind="visible: canContinue">Broadcasting</span>            
                <span data-bind="invisible: canContinue">Broadcast Not Found</span>            
            </div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-icon="close" data-bind="click: back"></a>
        </div>
    </header>

    <div class="feature">

        <div class="center-subhead push-down">
            The monitor
        </div>

        <div class="center-subhead push-down monitor-label" data-bind="text: serial"></div>

        <div data-bind="visible: canRetry">
            <div class="center-subhead push-down message" data-bind="html: retryMessage"></div>
            
            <div class="row push-down">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: retry">Try Again</button>
                </div>
            </div>
        </div>
        
        <div data-bind="visible: canContinue">
            <div class="center-subhead push-down message" data-bind="html: continueMessage"></div>
            
            <div class="row push-down">
                <div class="col-xs-12">
                    <button data-role="button" data-bind="click: continue">Continue</button>
                </div>
            </div>
        </div>

    </div>

</div>